/* ForgotPassword.css */
.forgot-password-container {
  padding: 80px 92px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #ffffff;
  display: flex
;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  max-width: 640px;
}

.forgot-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-field input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
  font-size: 12px;
}

.success-message {
  color: green;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.form-button {
  margin-top: 15px;
}

.form-button button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-button button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-button button:not(:disabled) {
  background-color: #2196F3;
  color: white;
}

.form-button button:hover:not(:disabled) {
  background-color: #1976D2;
}
